PORT=3000

NODE_ENV='dev'

# DEV ENV VARIABLES
DEV_DB_URI=""
DEV_JWT_SECRET_KEY=''
DEV_JWT_REFRESH_SECRET_KEY=''
DEV_SENDGRID_API_KEY=YOUR_API_KEY
DEV_SENDGRID_SENDER_EMAIL=YOUR_EMAIL
DEV_GMAIL_USER=""
DEV_GMAIL_PASS=""

# PROD ENV VARIABLES
PROD_DB_URI=""
PROD_JWT_SECRET_KEY=''
PROD_JWT_REFRESH_SECRET_KEY=''
PROD_SENDGRID_API_KEY= YOUR_API_KEY
PROD_SENDGRID_SENDER_EMAIL= YOUR_EMAIL
PROD_GMAIL_USER= ""
PROD_GMAIL_PASS="uowjrkcbaxjsmfco"

PROD_SERVER_REDIS_USERNAME=YOUR_REDIS_SERVER_USERNAME
PROD_SERVER_REDIS_PASSWORD= YOUR_REDIS_SERVER_PASSWORD
PROD_SERVER_REDIS_HOST= YOUR_REDIS_SERVER_HOST
PROD_SERVER_REDIS_PORT= YOUR_REDIS_SERVER_PORT

DEV_SERVER_REDIS_USERNAME=''
DEV_SERVER_REDIS_PASSWORD= ''
DEV_SERVER_REDIS_HOST='127.0.0.1'
DEV_SERVER_REDIS_PORT=6379

APPSIGNAL_PUSH_API_KEY=''